/*
This is the main CSS file that is shared across this website
*/

@import url(/base.css);

/* Dark and Light themes */
@media (prefers-color-scheme: dark) {
	body {
		color: white !important;
		background-color: var(--logo-black) !important;
	}
}

/* Default style fixes */

body {
	min-height: calc(100vh - 2.8rem);
	background-color: var(--logo-white);
	color: var(--logo-black);
	display: flex;
	flex-flow: column nowrap;
}

main {
	max-width: 50rem;
	min-width: 40rem;
	margin: auto;
	padding-top: 2rem;
	flex-grow: 1;
}

p {
	text-align: justify;
}

a {
	color: var(--logo-blue);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

h1 a, h2 a, h3 a {
	color: inherit;
}

h1,
h2,
h3 {
	font-weight: bold;
	margin: 0.2rem;
}

small {
	display: block;
	opacity: 0.5;
	transition: opacity 0.25s;
}

small:hover {
	opacity: initial;
}

pre {
	overflow: auto;
	padding: 1rem;
}

hr {
	width: 75%;
	border: none;
	border-top: 0.1rem solid var(--logo-black-accent);
	margin: 2rem auto;
}

code {
	color: var(--logo-red-accent)
}

table {
	border-collapse: collapse;
	margin: 1rem auto;
}

thead {
	border-bottom: 0.1rem solid var(--logo-black);
}

th,
td {
	padding: 0.3rem;
	text-align: start;
}

th+th,
td+td {
	border-left: 0.1rem solid var(--logo-black-accent);
}

/* General / Utility styles */

.fancy.red {
	color: var(--logo-red);
}

a.fancy.red:hover {
	color: var(--logo-red-accent);
}

.fancy.blue {
	color: var(--logo-blue);
}

a.fancy.blue:hover {
	color: var(--logo-blue-accent);
}

.fancy.yellow {
	color: var(--logo-yellow);
}

a.fancy.yellow:hover {
	color: var(--logo-yellow-accent);
}

.box {
	color: white;
	padding: 0 0.2em;
	display: inline-block;
	font-weight: normal;
}

.box.black {
	background-color: var(--logo-black-accent);
}

.box.black.hov:hover,
a.box.black:hover {
	background-color: var(--logo-black);
}

.box.red {
	background-color: var(--logo-red);
}

.box.red.hov:hover,
a.box.red:hover {
	background-color: var(--logo-red-accent);
}

.box.blue {
	background-color: var(--logo-blue);
}

.box.blue.hov:hover,
a.box.blue:hover {
	background-color: var(--logo-blue-accent);
}

.box.yellow {
	background-color: var(--logo-yellow);
}

.box.yellow.hov:hover,
a.box.yellow:hover {
	background-color: var(--logo-yellow-accent);
}

.bar {
	height: 1rem;
	border-bottom: 0.3rem solid;
	opacity: 0.3;
}

.bar.red {
	background-color: var(--logo-red);
	border-bottom-color: var(--logo-red-accent);
}

.bar.blue {
	background-color: var(--logo-blue);
	border-bottom-color: var(--logo-blue-accent);
}

.bar.yellow {
	background-color: var(--logo-yellow);
	border-bottom-color: var(--logo-yellow-accent);
}

.fx-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

/* Specific styles */

ul.posts {
	list-style: none;
}

ul.posts li {
	margin: 1rem 0;
	padding: 0.5rem;
}

#header-logo {
	max-width: 3rem;
}

.title {
	margin-top: 2rem;
	font-size: 32pt;
}

footer {
	position: relative;
	color: var(--logo-black-accent);
	text-align: center;
	margin: 1rem 0;
}

footer > div {
	position: absolute;
	height: 100%;
	width: 100%;
}
