{% import "macros.html" as macros %}

<!-- Curious? Check out the code here: https://github.com/rushsteve1/website -->
<!DOCTYPE html>
<html class="no-js" lang="{{ lang }}">

<head>
	{{ macros::shared_head(context=section) }}
	<link rel="stylesheet" href="/index.css" type="text/css" media="screen" />
</head>

<body>
	{{ macros::bars() }}
	<div>
		<div id="top">
			<img id="logo" src="./logo.svg" alt="My Logo, look out for it around the 'net" />
			<article>
				{{ section.content | safe }}
			</article>
		</div>
	</div>
</body>

</html>
