{% macro shared_head(context, swup=true) %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>{{ config.title }} - {{ context.title }}</title>
<meta name="description" content="{{ context.description }}" />

<meta name="og:title" content="{{ config.title }} - {{ context.title }}" />
<meta name="og:image" content="./logo.svg" />
<meta name="og:description" content="{{ context.description }}" />
<meta name="og:url" content="{{ current_url }}" />

<link rel="stylesheet" href="/shared.css" type="text/css" media="screen" />
<link rel="icon" href="/logo.svg" type="image/svg+xml" />
<link rel="alternate" href="/atom.xml" type="application/atom+xml" title="Atom">

{% if swup %}
<script defer src="/Swup.umd.js"></script>
<script defer src="/script.js"></script>
{% endif %}
{% endmacro shared_head %}

{% macro page_info(page) %}
<small>
	{% if not page.extra['no_info'] %}
	<div>
		{{ page.date }} | {{ page.reading_time }} min | {{ page.word_count }} words
	</div>

	<div>
		{% if page.taxonomies["category"] %}
		{% set category = page.taxonomies["category"] | first %}
		in <a href="{{ get_taxonomy_url(kind='category', name=category) }}" class="box blue">
			{{ category }}
		</a>
		{% endif %}
		{% if page.taxonomies["tags"] %}
		| tagged
		{% for tag in page.taxonomies["tags"] %}
		<a href="{{ get_taxonomy_url(kind='tags', name=tag) }}"
			class="box {{ ['blue', 'yellow', 'red'] | nth(n = loop.index % 3) }}">
			{{ tag }}
		</a>
		{% endfor %}
		{% endif %}
	</div>
	{% endif %}
</small>
{% endmacro post_info %}

{% macro breadcrumbs(context) %}
<div class="fx-row">
	<a href="/" data-no-swup>
		<img src="/logo.svg" id="header-logo">
	</a>
	<div id="breadcrumbs">
		<a href="/portal" class="box red">~</a>
		{% for part in context.ancestors %}
		{% set s = get_section(path=part, metadata_only=true) %}
		{% if s.components %}
		/ <a href="{{ s.path }}" class="box {{ ['yellow', 'red', 'blue'] | nth(n = loop.index % 3) }}">
			{{ s.components | last }}
		</a>
		{% endif %}
		{% endfor %}
		/ <span class="box black">{{ context.components | last }}</span>
	</div>
</div>
{% endmacro breadcrumbs %}

{% macro bars() %}
<div id="bottom">
	<div class="bar red"></div>
	<div class="bar blue"></div>
	<div class="bar yellow"></div>
</div>
{% endmacro bars %}

{% macro footer() %}
<footer>
	{{ self::bars() }}
	<div>
		<div>Copyright &copy; {{ now() | date(format="%Y") }} Steven vanZyl CC-BY-4.0</div>
		<div>
			<a href="/atom.xml" class="box black">Atom Feed</a> |
			<a href="/sitemap.xml" class="box black">Sitemap</a>
		</div>
	</div>
</div>
{% endmacro footer %}
