{% import "macros.html" as macros %}

<!DOCTYPE html>
<html class="no-js" lang="{{ lang }}">

<head>
	{{ macros::shared_head(context=page) }}
	<link rel="stylesheet" type="text/css" href="/syntax-theme-dark.css" media="(prefers-color-scheme: dark)" />
	<link rel="stylesheet" type="text/css" href="/syntax-theme-light.css" media="(prefers-color-scheme: light)" />
</head>

<body>
	<main>
		{{ macros::breadcrumbs(context=page) }}
		<article id="swup" class="transition-fade">
			<header>
				<h1 class="title box yellow">{{ page.title }}</h1>
				{{ macros::page_info(page=page) }}
			</header>
			<dialog>
				<summary>Contents</summary>
				{{ page.toc }}
			</dialog>
			<div id="blog-post">
				{{ page.content | safe }}
			</div>

		</article>
	</main>
	{{ macros::footer() }}
</body>

</html>
