{% import "macros.html" as macros %}

<!DOCTYPE html>
<html class="no-js" lang="{{ lang }}">

<head>
	{{ macros::shared_head(context=section) }}
</head>

<body>
	<main>
		{{ macros::breadcrumbs(context=section) }}
		<article id="swup" class="transition-fade"> 
			<header>
				<h1 class="title box yellow">{{ section.title }}</h1>
			</header>

			{{ section.content | safe }}

			<nav>
				{% if section.subsections %}
				<hr />
				<h2 class="box red">Sub-Sections</h2>
				<ul>
					{% for spath in section.subsections %}
					{% set s = get_section(path=spath) %}
					<li>
						<h3>
							<a href="{{ s.path }}" class="fancy {{ ['blue', 'yellow', 'red'] | nth(n = loop.index % 2) }}">{{ s.title }}</a>
						</h3>
					</li>
					{% endfor %}
				</ul>
				{% endif %}

				{% if section.subsections %}
				<hr />
				<h2 class="box blue">Posts</h2>
				{% endif %}
				<ul class="posts">
					{% for page in section.pages %}
					<li>
						<h3>
							<a href="{{ page.path }}"
								class="fancy {{ ['blue', 'yellow', 'red'] | nth(n = loop.index % 3) }}">{{ page.title }}
							</a>
						</h3>
						{{ macros::page_info(page=page) }}
					</li>
					{% endfor %}
				</ul>
			</nav>
		</article>
	</main>
	{{ macros::footer() }}
</body>

</html>
